<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>Canadian Citizen Signup</h2>

    <%= simple_form_for @user, url: user_path do |f| %>
      <%= f.input   :email                          %>
      <%= f.input   :phone                          %>
      <%= f.input   :password                       %>
      <%= f.input   :password_confirmation          %>
      <%= f.input   :canadian_citizen,
                      as: :radio_buttons,
                      required: true %>
      <%= f.button  :submit, "Create Account"       %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-6">
    <h3>Not a Canadian Citizen?</h3>
    <p>Then fill this out, and we'll contact you when it's ready.</p>
    <%= simple_form_for @lead, url: lead_path do |f| %>
      <%= f.input  :email                    %>
      <%= f.input  :phone                    %>
      <%= f.input  :country, as: :country    %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>
