<div class="col-sm-12">
	<h2>Signup!</h2>

	<%= simple_form_for :user, url: user_path do |f| %>
		<%= f.input  :email 				  					%>
		<%= f.input  :phone 				  					%>
		<%= f.input  :password 			  					%>
		<%= f.input  :password_confirmation   	%>
	  <%= f.button :submit, "Create Account"	%>
	<% end %>
</div>