<!DOCTYPE html>
<html>
  <head>
    <title>VerifiedOauth</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <%= favicon_link_tag %>
    <%= favicon_link_tag( 'favicon.ico', rel: 'apple-touch-icon', type: 'image/png') %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 header-box">
          <h4>Verified Identity OAuth</h4>
        </div>
        <div class="col-xs-4 header-box">
          <div class="header-item text-left">
          	  <% if current_user %>
          		  Signed in as <%= current_user.first_name or " New User" %> | <%= link_to "Logout", '/logout' %>
          		<% else %>
          		  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', "/" %>
          		<% end %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="header-item text-left">
            <% flash.each do |name, message| %>
              <div class="<%= "alert alert-dismissable alert-" + name %>"><p><%= message %></p></div>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
